Repository OzellaFarrell/FHEMembership: changes, and which lint-staged commands are due for each by the changed paths.
All: solhint, prettier --write, eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.sol": [
    "solhint",
    "prettier --write"
  ],
  "*.{js,cjs}": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.ts": [
    "eslint --fix --max-warnings=0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ]
}

Create .env.example
  .env.example
Due: none

Add files via upload
  TOOLCHAIN_INTEGRATION.md
Due: prettier --write

Add files via upload
  tsconfig.json
Due: prettier --write

Add files via upload
  README.md
Due: prettier --write

dist
  contracts/AnonymousMembership.sol
  index.html
  package-lock.json
  package.json
Due: solhint, prettier --write

Add files via upload
  API.md
  ARCHITECTURE.md
  IMPLEMENTATION_SUMMARY.md
  PROJECT_DELIVERY.md
  README.md
  cache/solidity-files-cache.json
  contract-size-report.txt
  contracts/AnonymousMembership.sol
Due: solhint, prettier --write
